{% extends 'base.html.twig' %}

{% block title %}Gestion des meules - Accueil{% endblock %}
{% block active %}active{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-6 text-center">
            <a href="{{ asset('/rectiligne/all-machines.html.twig') }}" class="btn btn-secondary btn-lg mt-5 p-5 btn-home">STOCK BILATERALE / RECTILIGNES</a>
        </div>
        <div class="col-6 text-center">
            <button type="button" class="btn btn-secondary btn-lg mt-5 p-5 btn-home">STOCK CENTRES D'USINAGE</button>
        </div>
    </div>
{% endblock %}
