#logo {
    width: 200px;
}
.btn-home {
    font-size: 1.8em !important;
}

.interligne {
    height: 20px;
    background-color: #8e8c84;
}

.head-table {
    background-color: #8e8c84;
    color: white;
}