{% extends 'base.html.twig' %}

{% block title %}Mise à jour Bilatérales / Rectilignes{% endblock %}

{% block javascripts %}
    <script src="/js/ajax-list-position-rectiMachine.js"></script>
    <script src="/js/display-wheels-rectiMachine.js"></script>
{% endblock %}

{% block body %}

<div class="row mt-3">
    <div class="col-12 ml-2"><h2>Bilatérales / Rectilignes - Mise à jour</h2></div>
</div>
<hr>
<div class="interligne"></div>

{{ form_start(choicePositionOfRectiMachineForm) }}
<div class="row">
    <div class="col-3">{{ form_row(choicePositionOfRectiMachineForm.rectiMachine, {'placeholder': 'Machine', 'attr': {'class': 'new-machine'}}) }}</div>
    <div class="col-3">{{ form_row(choicePositionOfRectiMachineForm.position, {'placeholder': 'Position', 'attr': {'class': 'new-position'}}) }}</div>
    <div class="col-2"><button type="button" class="btn btn-outline-success" id="valid-choice">Valider</button></div>
</div>
{{ form_end(choicePositionOfRectiMachineForm) }}

<hr>

<div class="row head-table text-center pt-3 pb-3 mb-3" id="wheels-rectiMachine-head">
    <div class="col-1">Machine</div>
    <div class="col-1">Position</div>
    <div class="col-1">Fournisseur</div>
    <div class="col-2">Réferences</div>
    <div class="col-3">Désignation TAV</div>
    <div class="col-1">Stock</div>
    <div class="col-2">Choisir une meule</div>
</div>

<div id="display-wheels-rectiMachine"></div>

{% endblock %}
