{% extends 'base.html.twig' %}

{% block title %}Stock Bilatérale{% endblock %}

{% block body %}
<div class="row">
    <h2 class="ml-5 mt-4">Slot Meules Bilatérale</h2>
</div>
<div class="m-3">
<table class="table table-hover slot">
    
    <thead>
        <tr class="table-primary">
            <th scope="col">Position</th>
            <th scope="col" class="text-center">1</th>
            <th scope="col" class="text-center">2</th>
            <th scope="col" class="text-center">3</th>
            <th scope="col" class="text-center">4 et 12</th>
            <th scope="col" class="text-center">5 et 13</th>
            <th scope="col" class="text-center">9</th>
            <th scope="col" class="text-center">10</th>
            <th scope="col" class="text-center">11</th>
            <th scope="col" class="text-center">6</th>
            <th scope="col" class="text-center">7</th>
            <th scope="col" class="text-center">8</th>
        </tr>
    </thead>
    <tbody>
    
        <tr class="table-light">
            <th scope="col">Type</th>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Périphérique</td>
            <td class="text-center">Périphérique</td>
            <td class="text-center">Périphérique</td>
        </tr>
        
        <tr class="table-light">
            <th scope="col">Usinage</th>
            <td class="text-center">Talon</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Arête</td>
            <td class="text-center">Arête</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Joint complet</td>
            <td class="text-center">Joint complet</td>
            <td class="text-center">Joint complet</td>
        </tr>

        <tr class="table-light">
            <th scope="col">Matière</th>
            <td class="text-center">Diamant</td>
            <td class="text-center">Diamant</td>
            <td class="text-center">Diamant / Résine</td>
            <td class="text-center">Diamant</td>
            <td class="text-center">Polissante</td>
            <td class="text-center">Polissante</td>
            <td class="text-center">Polissante</td>
            <td class="text-center">Cérium</td>
            <td class="text-center">Diamant</td>
            <td class="text-center">Diamant</td>
            <td class="text-center">Polissante</td>
        </tr>
    
    
    </tbody>
</table>

{% endblock %}
