{% extends 'base.html.twig' %}

{% block title %}Modifier {{ nameMachine }}{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %} 

<h2>Modifier la machine : <span class="text-uppercase">{{ nameMachine }}</span></h2>

{% endblock %}

