<!--All variables are send by ajax-->

    <div class="d-flex justify-content-between m-2">
        <h2>Détail du stock</h2>
        <a href="{{ asset("cu/" ~ cu.name) }}" class="btn btn-success close-popup">Fermer</a>
    </div>
    
    <div class="interligne"></div>
    <div class="row no-margin">  
        <div class="col-12 ">
            <div class="row border-top border-right head-table text-center pt-2 pb-2">
                <div class="col-1">Fournisseur</div>
                <div class="col-2">Réference</div>
                <div class="col-3">Désignation TAV</div>
                <div class="col-1">Grain</div>
                <div class="col-1">Diamètre</div>
                <div class="col-2">Hauteur / Largeur</div>
                <div class="col-1">Stock</div>
                <div class="col-1">Actions</div>
            </div>
        </div>
    </div>

    <div class="interligne  border-bottom"></div>
    

