{% extends 'base.html.twig' %}

{% block title %}Stock {{ cu.name }}{% endblock %}

{% block body %}

<div class="d-flex justify-content-between">
    <h2 class="ml-4 mt-4 border-bottom mb-5">Stock Meules <span class="text-uppercase">{{ cu.name }}</span></h2>
    <a href="{{ asset('cus') }}" class="btn btn-success m-5">Retour au stock total</a>
</div>

<div class="row text-center font-weight-bold border-top border-bottom pt-2 pb-2 head-table">
    <div class="col-1 border-right">Type de meule</div>
    <div class="col-8">
        <div class="row">
            <div class="col-3">Désignation TAV</div>
            <div class="col-2">Type de verre</div>
            <div class="col-2">Grain</div>
            <div class="col-1">Diamètre</div>
            <div class="col-1">Hauteur</div>
            <div class="col-2">Actions</div>
            <div class="col-1">Non livrées</div>
        </div>
    </div>
    <div class="col-1">Stock mini</div>
    <div class="col-1">Stock total</div>
    <div class="col-1">Commander</div>
</div>




  <tbody>
    {% for typeMeule in meules %}
    <h3 class="ml-4 mt-2"><span class="text-uppercase">{{ typeMeule.typeMeule }}</span></h3>
    <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
